API/News/Open4Tech/.vs
API/News/Open4Tech/bin
API/News/Open4Tech/obj

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
mobile/mobile-computing/app/build
